<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Courses</h1>
    {% if user.role == 'teacher' %}
    <form action="/courses" method="post">
      <label for="name">Course Name:</label><br />
      <input type="text" id="name" name="name" required /><br />
      <input type="submit" value="Create Course" />
    </form>
    {% endif %}
    <hr />
    <h2 class="dar">Existing Courses:</h2>
    <ul class="dari">
      {% for course in courses %}
      <li>{{ course.name }}</li>
      {% endfor %}
    </ul>
    <form action="/logout" method="get">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>
